body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

.navbar{
    display: flex;
    padding: 50px;
}
.navbar ul{
    display: flex;
    margin-left: 800px;
    align-items: center;
}
.navbar li{
    list-style: none;
    margin-left: 60px;
    font-weight: 600;
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'),url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
    padding: 0 50px;
}
.banner{
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.tittle{
    margin-bottom: 100px;
    margin-left: 10px;
}